:root{
    --border: 1px solid #a4a4a4;
    --border-radius: 5px;
    --padding-cell: 10px 15px;
}

.sapMStdTileIconDiv, .sapMStdTileIconDiv .sapMImg {
    width: 4rem !important;
    height: 3rem !important;
    object-fit: cover;
    border-radius: 3px;
}

.sapMStdTileTitle {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
}

.sapMStdTileTopRow {
    padding-top: 1.2rem;
}

.sapMStdTileMonitorType {
    margin-top: -0.7rem;
    padding: 1.1rem 1rem;
    box-sizing: border-box;
    display: flex;
    height: 63%;
    flex-direction: column;
    justify-content: space-between;
}

.sapMStdTileInfo {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;

}
.sapUiLayoutCSSGrid{
    margin: 10px auto;
    padding: 40px;
}

.table-header, .navigation-cell, .cell{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.text-cell {
    font-size: 1.7rem;
    font-weight: 500;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
}
.input{
    margin: 0;
    height: 100%;
}

.input input {
    font-size: 1.7em !important;
}

.button {
    height: 100%;
}

.button span {
    display: flex !important;
    height: 60px;
    align-items: center;
    font-size: 25px;
    gap: 10px;
}

#player {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 1vh 5px !important;
    box-sizing: border-box;
    height: 93vh;
}

#player video {
    margin: 10px;
    width: -webkit-fill-available;
}
.label {
    text-align: right !important;
}

.value {
    font-weight: 700;
    font-size: 1.8rem;
    padding-right: 50px;
    box-sizing: border-box;
}

.label, .value {
    justify-content: center;
}
.viewed .text-cell {
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
    opacity: 0.8;
}